# See https://help.github.com/ignore-files/ for more about ignoring files.
# dependencies
/node_modules

# misc
.DS_Store
.env*

# Logs
*.log

# Unit test / coverage reports
coverage/
.nyc_output

.env
build